#personModal {
    header {
        h3 {
            padding-top: 15px;
            text-align: center;
            font-size: 200%;
            color: #3e403f;
        }
    }
}

#personForm {
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 10px 50px #6aa0f14f;
    padding: 3%;
    background: white;

    .form__item {
        padding: 5px 0;
        margin-bottom: 0;

        .select-user {
            color: black;
        }

        .spNoti {
            color: red;
            margin-left: 40px;
        }
    }

    select {
        &:focus {
            box-shadow: none;
        }
    }
}